<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<style type="text/css">
		.active{
			background: red;
		}
		.liked{
			background: #6cf;
		}
	</style>
</head>
<body>
	
	<div  id="app">
		<input type="text"  v-model="name">
		<span v-show="name">你的名字叫{{name}}</span>
		<input type="text"  v-model="age">
		<span v-show="age">你的年龄{{age}}</span>
		<input type="text"  v-model="sex">
		<span v-show="sex">你的性别是{{sex}}</span>
		<li v-for="a in foodlist">{{a.name}}:${{a.price}}</li>
		<a :class="{active:isActive}" :href="url">click me</a>

		<button @click="onClick" v-on="{mouseenter:onEnter,mouseleave:onOut}">点我</button>

		<form @keyup.enter="onenter" @submit.prevent="onSubmit">
			<input type="text">
			<button type="submit">提交</button>
		</form>
		<input type="text" v-model.number="whh">
		<pre>{{whh}}</pre>
		<!-- <label >
			男
			<input v-model='sex' value="male" type="checkbox" >
		</label>
		<label>
			女
			<input v-model='sex' value="female" type="checkbox" >
		</label>
		</br>
		{{sex}} -->
		<!-- <textarea v-model="article"></textarea> -->
		<div>你来自哪儿？</div>
		<select v-model="from">
			<option value="1">王家沟</option>
			<option value="2">断背山</option>
		</select>
		{{from}}
		<div>你要去哪儿？</div>
		<select v-model="dest" multiple>
			<option value="1">王家沟</option>
			<option value="2">断背山</option>
			<option value="3">断背山</option>
			<option value="4">断背山</option>
			<option value="5">断背山</option>
		</select>
		{{dest}}
		<div v-if="role =='admin'">
			管理员你好!
		</div>
		<div v-else-if="role=='hr'">
			等待加载简历！<br>
			...
		</div>
		<div v-else>
			你无权访问此页面！
		</div>

		<table border="1">
			<thead>
				<th>学科</th>
				<th>分数</th>
			</thead>
			<tbody>
				<tr>
					<td>数学</td>
					<td><input type="text" v-model.number="math"></td>
				</tr>
				<tr>
					<td>物理</td>
					<td><input type="text" v-model.number="phy"></td>
				</tr>
				<tr>
					<td>英语</td>
					<td><input type="text" v-model.number="english"></td>
				</tr>
				<tr>
					<td>总分</td>
					<td>{{sum1()}}</td>
				</tr>
				<tr>
					<td>平均分</td>
					<td>{{avg}}</td>
				</tr>
				
			</tbody>
		</table>
	</div>
	<div id="seg1">
		<alert></alert>	
	</div>
	<div id="seg2">
		<alert></alert>	
	</div>
	
	<div id="ass">
		<like></like>
	</div>
		<template id="like-component-tpl">
			<button :class="{liked:liked}" @click="like_toggle()">点赞 {{like_count}}</button>
		</template>
		
	
	
	<script type="text/javascript" src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
	<script type="text/javascript" src="../js/vtest.js"></script>
</body>
	
</html>
